<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/985063c3-369e-497f-9600-5302b0d97854/resourcegroups/WebApp20190530022816ResourceGroup/providers/Microsoft.Web/sites/WebAppCodeFirstFYP</ResourceId>
    <ResourceGroup>WebApp20190530022816ResourceGroup</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://webappcodefirstfyp.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>True</ExcludeApp_Data>
    <MSDeployServiceURL>webappcodefirstfyp.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>WebAppCodeFirstFYP</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>False</SkipExtraFilesOnServer>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$WebAppCodeFirstFYP</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PrecompileBeforePublish>True</PrecompileBeforePublish>
    <EnableUpdateable>True</EnableUpdateable>
    <DebugSymbols>False</DebugSymbols>
    <WDPMergeOption>DonotMerge</WDPMergeOption>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="FYPManagementContext" Order="1" Enabled="False">
          <Destination Path="Data Source=webappshowroomcodefirstdbserver.database.windows.net;Initial Catalog=WebAppCodeFirstFYP_db;Persist Security Info=True;User ID=showroom;Password=Sh0wR00m" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="WebApp.Models.FYPManagementContext, WebApp" MigrationConfiguration="WebApp.Migrations.Configuration, WebApp" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="HMSEntities" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=zHs;Initial Catalog=HMS;Integrated Security=True;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\HMSEntities_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/Models.HMS.csdl|res://*/Models.HMS.ssdl|res://*/Models.HMS.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=zHs;initial catalog=HMS;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)HMSEntities-Web.config Connection String" />
    <MSDeployParameterValue Include="FYPManagementContext-Web.config Connection String">
      <ParameterValue>Data Source=webappshowroomcodefirstdbserver.database.windows.net;Initial Catalog=WebAppCodeFirstFYP_db;Persist Security Info=True;User ID=showroom;Password=Sh0wR00m</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>